body {
  background: hsla(0, 0%, 5%, 1);
  font-family: sans-serif;
  color: #ead3d9;
  text-align: center;

  header {
    width: 100%;
    height: 80vh;
    padding-top: 12vh;
  }

  .header {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;

    .web {
      height: 233px;
      width: 557px;
      margin-right: 50px;
    }

    .mobile {
      display: none;
    }

    h3 {
      font-size: 48px;
      font-weight: normal;
      text-transform: uppercase;
      line-height: 130%;
      text-align-last: left;
    }
  }

  p {
    font-size: 24px;

    a {
      text-decoration: underline;
      color: #ead3d9;
    }
  }

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 18px */

    letter-spacing: -0.02em;

    color: #ffffff;

    opacity: 0.4;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 100% !important;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .web {
      width: 385px;
      margin-right: 0 !important;
    }

    h3 {
      font-size: 32px;
      font-weight: normal;
      text-transform: uppercase;
      line-height: 130%;
      text-align-last: center !important;
    }
  }

  p {
    font-size: 24px;
  }
}

@media screen and (max-width: 500px) {
  .web {
    display: none !important;
  }
  .mobile {
    width: 100% !important;
    display: block !important ;
  }
  h3 {
    font-size: 24px !important;
  }
  p {
    font-size: 16px !important;
  }
}
